@model IEnumerable<FIMS2.Models.Lot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Fluid</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.LotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuantity)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.AvailableQuantity)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.LotNotes)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.DateOnly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOnly)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LotNumber">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.LotNumber">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
