@model FIMS2.Models.Lot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOnly)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LotNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
